body {
	padding: 0px;
	margin: 0px;
	background-color: hsl(212, 45%, 89%);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
 	background-color: hsl(0, 0%, 100%);
 	width: 320px;
 	height: 497px;
 	border-radius: 20px;
 	box-sizing: border-box;
 	padding: 15px 15px 45px 15px;
 	margin-bottom: 20px;
 	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card img {
	width: 288px;
	height: 288px;
	border-radius: 10px;
}

.card h1 {
	margin: 0px;
	font-family: 'Outfit', sans-serif;
	height: 700;
	font-size: 22px;
	text-align: center;
	color: hsl(218, 44%, 22%);
}

.card p {
	margin: 0px;
	font-family: 'Outfit', sans-serif;
	height: 400;
	font-size: 16px;
	text-align: center;
	color: hsl(220, 15%, 55%);
}

.attribution {
	font-size: 15px;
	font-family: 'Outfit', sans-serif;
	text-align: center;
    color: hsl(228, 45%, 44%);
}